* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color:white;
  font-family: helvetica;
  font-size: 16px
}

h1{
  font-size: 48px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

#hero {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../../assets/images/travel_hero.jpg")
}

#spain {
  background-image: url("../../assets/images/spain_flag.svg")
}

#italy {
  background-image: url("../../assets/images/italy_flag.svg")
}

#aruba {
  background-image: url("../../assets/images/aruba_flag.svg")
}

#chile {
  background-image: url("../../assets/images/chile_flag.svg")
}

#nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-link{
  display: inline-block;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#masthead a, #footer a {
  text-decoration: none;
  color: white;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

tr, td, th {
  border: 2px solid black;
}

th {
  background-color: black;
  color: white;
}

#travel-table {
  color: black;
  background-color: white;
}

#social-links {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
 }

#social-links a {
  text-decoration: none;
  color: white;
}

.card {
  width: 300px;
  height: 350px;
  margin:5px;
  padding-bottom: 5%;
  background-color: white;
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
}

#hero-content {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.page-row {
  width: 100%;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#masthead{
  padding-left: 5%;
  padding-right: 5%;
  height: 100px;
  width: 100%;
  background-color: #000000;
}

#footer{
  padding-left: 5%;
  padding-right: 5%;
  height: 50px;
}
